.row{
    margin-left: 10px;
    margin-bottom: 20px;
}

.movies-row{
    display: flex;
    /* justify-content: space-between; */
    overflow-x: scroll;
    margin-top: 20px;
}

::-webkit-scrollbar{
    display: none;
}

.movie{
    width: 200px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 460ms;
}

.movie:hover{
    transform:  scale(1.06);
}


.movie-poster{
    max-height: 350px;
}